@import "coserv.scss";
@mixin title {
	margin: 1em auto;
	text-align: center;
	height: 22px;
	font-family: $ff1;		
}
@mixin titleTx{
	font-size: $fs1;
	font-weight: bolder;
	padding: 0 20px;
	font-family: $ff1;	
}
@mixin docTx {	
	padding: 2px 1em 1em;
	margin: 0;
	font-size: $fs1 * 1.2;
	line-height: $fs1 * 1.8;
	text-indent: $fs1 * 0.6;
	font-family: $ff1;
	text-align: left;
}

.content {
	@include content;
	.inner {
		margin: 2em auto;
		padding: 5px 50px 15px;
		background: #599CCE;
		color: #fff;
	    @include border-radius(10px);	
		h1 {
			@include title;
			span {
				@include titleTx;
			}
		}
		p {
			@include docTx;
		}
		p + p {
			margin-top: -10px;
		}
	}
}

/* mobile */
.mobile {
	.inner {
		padding: 5px 20px 20px 30px;
	}
	h1 {
		margin: 2em auto  !important;
		height: 42px  !important;
	}
	span {
		font-size: 2em  !important;
	}
	p {
		font-size: 3em  !important;
		line-height: 1.4em  !important;	
	}
}