<div id="header" class="navbar navbar-fixed-top"  role="navigation">
	<div class="navbar-header">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#menu">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
        </button>
      	<a class="navbar-brand" href="/">LOGO</a>			      	
    </div>
    <!-- /.navbar-header -->

    <div class="collapse navbar-collapse" id="menu">	
		<ul class="nav navbar-nav navbar-right submenu">  
		  	<a href="#"><li class="bu"><%= ph.news %></li></a>
		    <a href="#" data-toggle="modal" data-target="#contact"><li class="bu"><%= ph.contact %></li></a>
		    <a href="#"><li class="bu"><%= ph.product %></li></a>
		</ul>
	</div>
</div>

<!-- Contact Form -->
<div class="modal fade modalstyle" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content contact">
       <!-- modal-header -->
	    <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">
		    	<span aria-hidden="true">&times;</span>    	
		    </button>
		    <h3 class="modal-title"><%= ph.title %></h3>
		    <hr class="hr1">
		</div>
		<!-- /.modal-header -->		
		<div class="modal-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
		    <form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><%= ph.name %>：</label>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
						<input type="text" class="form-control" id="name" name="name" placeholder="<%= ph.name2 %>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><%= ph.mail %>：</label>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
						<input type="text" class="form-control" id="mail" name="mail" placeholder="<%= ph.mail2 %>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><%= ph.sub %>：</label>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
						<input type="text" class="form-control" id="sub" name="sub" placeholder="<%= ph.sub2 %>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><%= ph.massage %>：</label>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
						<textarea type="text" class="form-control" id="text" name="massage"></textarea>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-body -->
		<div class="modal-footer">	
			<button type="button" class="btn btn-primary"><%= ph.send %></button>
		</div>
		<!-- /.modal-footer -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
