<div class="content text-center row">  
    <h3>Welcome to use this example</h3>  
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>   
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-center">
       <i class="fa fa-signal"></i>
       <h4>Title 1</h4>
       <p>Gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of module. This page is served by a static block. That means contents are neither coming from a local module nor from a API service call.</p>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-center">
       <i class="fa fa-tablet"></i>
       <h4>Title 2</h4>
       <p>Gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of module. This page is served by a static block. That means contents are neither coming from a local module nor from a API service call.</p>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-center">
       <i class="fa fa-gamepad"></i>
       <h4>Title 3</h4>
       <p>Gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of module. This page is served by a static block. That means contents are neither coming from a local module nor from a API service call.</p>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-center">
       <i class="fa fa-gears"></i>
       <h4>Title 4</h4>
       <p>Gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of module. This page is served by a static block. That means contents are neither coming from a local module nor from a API service call.</p>
    </div>
</div>