.content {
	margin-top: 3em;
	margin-bottom: 3em;
}
.content h3 {
	font-size: 3em;
	color: #000;
	font-weight: bold;	
	margin: 2em auto 3em;	
}
.content i {
	font-size: 6em;
	color: #000;
}
.content h4 {	
	font-size: 2em;
	color: #000;
	font-weight: bold;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 1em;
}
.content p {
	font-size: 1.5em;
	color: #000;
	line-height: 1.7em;
	padding: 0 1em;
	margin: 0 auto 2.5em;	
}

@media screen and (max-width: 1007px) {
  p{  
  	padding-left: 40px !important;
  	padding-right: 40px !important; 
   }
}