@import "coserv.scss";
@include link;

#header {
  @include wrapper;  
  background: rgba(222, 222, 222, 0.95);
  .icon-bar {
    background: #999;
  }
  .github {
    @include github;
  }
  .logo {
    margin-top: 7px;
    margin-left: 52px;
  }
  .collapse {
    display: block;
  }
  ul.navbar-nav.navbar-right:last-child {
    margin-right: $fs1 * 4;  
    li.bu {
      @include float; 
      padding: 0;
      margin: 20px;
      line-height: 28px;
      text-align: center;
      font-family: $ff1;
      color: $fc1;
      font-size: $fs1 * 1.2;
      display: inline-block;
      position: relative;
      &:active, &:hover, &:focus, &.active { 
        @include border-bottom(2px, solid, #599CCE);
        .arrow {
          width: 0px;
          height: 0px;
          border-width: 6px;
          border-style: solid;
          border-color: transparent transparent #599CCE transparent ;
          position: absolute;
          top: $w1 - +40%;
          left: $w1 - +60%;
        }
      } 
    }   
    //language
    .dropdown {     
      &:hover a {
        background: transparent;  
      }
      .dropdown-toggle {
        display: block;
        text-align: center;        
        padding: 0;
        margin: 10px 0px;
        line-height: 9px;
        color: $fc1;
        background: transparent;
        border: none;
        position: relative;
      }
      .dropdown-menu {
        width: 125px;
        min-width: 110px;        
        background: #599CCE;
        border: none;
        box-shadow: none;
        @include ma(auto, auto);
        @include pa(0px, 0px);
        left: 0px;
        z-index: 1001;       
        a {
          padding: 5px 15px;
          line-height: 24px;
          font-size: 16px;
          color: #fff;
          &:active, &:hover, &:focus, &.active {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
    //dropdown-menu
    .navbar-nav > .open .dropdown {
      background: transparent; 
    }      
    .navbar-nav > .open  > a {
      background: transparent; 
      &:hover, &:focus, &:active, &:visited {
        background: transparent;
      }
    }        
  }   
}

/* Mobile */
.mobile {
  .navbar-header {
    float: none !important;
  } 
  .navbar-toggle {
    margin-right: 18px;
  } 
  .icon-bar {
    width: 70px !important;
    height: 4px !important;
    line-height: 60px !important;
    margin-top: 8px !important;
  }
  .collapse {
    background: rgba(222, 222, 222, 0.95) !important;
    @include ma(auto, auto);  
    width: 100% !important; 
  }
  .navbar-right {
    float: left !important;
    margin-left: 80px !important;
    margin-right: -35px !important;
  }
  .navbar-toggle {
    margin-top: 20px !important;
  }
  li.bu {
    padding: 0px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
    line-height: 50px !important;
    font-size: 42px !important;   
  }
  .dropdown-toggle {
    padding: 0px !important;
    margin: 0px !important; 
    line-height: 50px !important;
    font-size: 42px !important;       
  }
  .dropdown-menu {  
    width: 300px !important;
    min-width: 250px !important; 
    padding: 15px !important;   
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: auto !important;
  }
  .dropdown-menu li a {
    font-size: 42px !important;
    line-height: 62px !important;
  }
  .active { 
      &:active, &:hover, &:focus, &.active {
        @include border-bottom(3px, solid, #599CCE);
        .arrow { 
          border-width: 8px !important;         
          top: $w1 - +30% !important;
          left: $w1 - +60% !important;
        }
      }  
  }
}
