<div class="wrapper row">    
	<div id="indexCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#indexCarousel" data-slide-to="1"></li>
			<li data-target="#indexCarousel" data-slide-to="2"></li>
			<li data-target="#indexCarousel" data-slide-to="3"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">			
				<div class="carousel-caption">
					<h1><%=value.list[0].title%></h1>
					<p><%=value.list[0].body%></p>				
				</div>
				<img src="<%=value.list[0].img%>" width="400px">			
			</div>
			<div class="item">			 
				<div class="carousel-caption">
					<h1><%=value.list[1].title%></h1>
					<p><%=value.list[1].body%></p>
				</div>
	            <img src="<%=value.list[1].img%>"  width="400px">
			</div>
			<div class="item">
				<div class="carousel-caption">
					<h1><%=value.list[2].title%></h1>
					<p><%=value.list[2].body%></p>
				</div>
				<img src="<%=value.list[2].img%>" width="400px">
			</div>
			<div class="item">
				<div class="carousel-caption">
					<h1><%=value.list[3].title%></h1>
					<p><%=value.list[3].body%></p>
				</div>
				<img src="<%=value.list[3].img%>" width="400px">
			</div>
			
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#indexCarousel" data-slide="prev">
			<i class="fa fa-angle-left"></i>
		</a>
		<a class="right carousel-control" href="#indexCarousel" data-slide="next">
			<i class="fa fa-angle-right"></i>
		</a>
	</div>
</div>

