.wrapper {
  margin-top: 5em;
}
.carousel-inner {
  background: #28313e;
  height: 450px;
  vertical-align: middle !important;
  margin: 0 auto;
}
.item {
  height: 100% !important;
  vertical-align: middle !important;
}

.carousel-inner .item img{  
  display: block;
  float: right; 
  margin-top: 4em;
  margin-right: 15em; 
  text-align: center;
}
/*內文*/
.carousel-caption {
  position: absolute;  
  left: 12%;
  top: 10%;
  z-index: 10;
  margin-top: 7em;
  width: 45%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption  h1{
	font-size: 4em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0 auto;
  margin-bottom: 0.6em;
	color: #fff;
}
.carousel-caption p{
	font-size: 1.5em;
}
/*圖片編號*/
.carousel-indicators {
  bottom: 5px;
}
.carousel-indicators li{
  border: none;
  background: #fff;
  margin-left: 5px;
  margin-right: 5px;
}
.carousel-indicators li.active{
  background: #818181;
}
/*左右控制鍵*/
.carousel-control.left,
.carousel-control.right {
  background-image: none;
} 
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 4em;
  color:rgba(255,255,255, 0.2);
}
.carousel-control .fa-angle-left {
  left: 20%;
}
.carousel-control .fa-angle-right {
  right:20%;
}

/* Setting different browsers */

@media screen and (max-width: 1350px) {
  .carousel-inner .item img{  
  	margin-top: 4em !important;
  	margin-right: 8em !important; 
   }
  .carousel-caption {
    left: 10%;
    margin-top: 5em;
    width: 45%;
   }
}

@media screen and (max-width: 1200px) {  
  .carousel-inner .item img{  
    margin-top: 5em;  	
  	margin-right: 8em;   	
   }
  .carousel-caption {
    left: 10%;
    margin-top: 5em;
    width: 45%;
   }
}

@media screen and (max-width: 1058px) {    
  .carousel-inner .item img{  
  	margin-top: 5em;
  	margin-right: 6em !important;
   }
  .carousel-caption {
    left: 8%;
    margin-top: 4em;
    width: 40%;
   }
}

@media screen and (max-width: 856px) {  
  .carousel-inner .item img{  
  	margin-top: 5em;
  	margin-right: 5em; 
   }
  .carousel-caption {
    left: 8%;
    margin-top: 3em;
    width: 35%;
   }
}

@media screen and (max-width: 768px) {
  .carousel-inner .item img{ 	  
  	margin-top: 5em;
  	margin-right: 5em;  	
   }
  .carousel-caption {
    left: 8%;
    margin-top: 3em;
    width: 30%;
   }
}

@media screen and (max-width: 648px) {  
  .carousel-inner .item img{ 
  	margin-top: 5em;
    margin-right: 5em;
    opacity: 0.2;    
  }
  .carousel-caption {
    left: 10%;
    margin: 0.5em auto;
    width: 80%;
    /*background: rgba(255,255,255,0.5);*/
  }  
}

	