<div class="wrapper">    
	<div id="indexCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<!-- <ol class="carousel-indicators">
			<li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#indexCarousel" data-slide-to="1"></li>
		</ol> -->
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">			
				<div class="carousel-caption"></div>
				<img src="../index/img/xs.png" alt"coServ">		
			</div>					
		</div>
		<!-- Controls -->
		<!-- <a class="left carousel-control" href="#indexCarousel" data-slide="prev">
			<i class="fa fa-angle-left"></i>
		</a>
		<a class="right carousel-control" href="#indexCarousel" data-slide="next">
			<i class="fa fa-angle-right"></i>
		</a> -->
	</div>
</div>

