<div class="typeside">
	<div class="sideNav" style="visibility:hidden">        
        <i class="fa fa-chevron-left"></i>
        <i class="fa fa-chevron-right" style="display:none"></i>            
    </div>
    <div class="on" style="display:block">
	    <div class="type">
			<span><%=ph.overviw%></span>
		</div>
		<% for (var i in value.list) {
			var  item = value.list[i],
				 createTime = item.createTime,
				 idx = createTime.indexOf('T');
			createTime = createTime.substring(0, idx);
		%>
		<div class="list">
			<a href="/coserv/doc/<%=item.ngID%>?_loc=<%=bi.locale%>" class="page<%=item.ngID%>">
				<div class="subhead"><%=item.title%></div>
				<small><%=createTime%></small>
			</a>			
		</div>
		<% } %>
	</div>
</div>
