@import "coserv.scss";
@include link;

.typeside {
  width: 230px;  
  margin: 0;
  padding-top: 0;  
  @include pa(20px, 20px);   
  background: #dfdfdf; 
  position: absolute;
  right: 0px; 
  top: 0px;
  float:right;
  z-index: 999;
  //收合按鈕
  .sideNav {    
    @include border-radius-all(8px, 0, 0, 8px);  
    cursor: pointer;        
    width: 90px;
    height: 90px;      
    padding-top: 25px;
    padding-left: 25px;
    background: #dfdfdf;
    font-size: $fs1 * 3;
    color: #666;
    position: relative;
    top: 200px;
    right: 100px;    
    z-index: 9999;
    i {      
      display: block;
      @include ma;
      &:hover {
        color: #999;
      }
    }
  } 
  .on { 
    //margin-top: -45px;
    margin-top: -55px;
    .type {
      width: $w1 * 0.7;
      // margin: 0em 5px 2em;
      @include ma(5px, 5px);
      margin-bottom: 2em;
      //@include border-bottom(4px, double, #999);
      span {
        font-size: $fs1 * 2;
        color: #4d4d4d;
        line-height: $fs1 * 1.5;        
      }
    }
    .list {
      margin: 5px;  
      cursor: pointer;
      @include border-bottom(1px, solid, #bcbcbc);
      .subhead {
        width: 100%;
        color: #2781B6;
        line-height: $fs1 * 1.3;
        font-size: $fs1 * 1.3;
        margin: 5px 0 0;      
        &:active, &:hover, &:focus, &:visited, &.active {
          color: #6D6D6D;
        }
      }
      small {
        display: block;
        color: #aaa;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }  
  }  
} 

/* mobile */
.mobile.typeside {
  padding-left: 0px !important;
  padding-right: 0px !important;
  .sideNav {
    visibility: visible !important;
    top: 150px !important;
    right: 90px !important;
  }
  .on {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  span {
    font-size: 3.5em !important;
    line-height: 1.5em !important;
    margin-left: 0px !important;
  }
  .list:last-child {
    border-bottom: none !important;
  }
  .subhead {
    font-size: 3em !important;
    line-height: 1em !important;
    margin-top: 20px !important;
  }
  small {
    font-size: 2.5em !important;
  }
}
