@import "coserv.scss";
@include link;

@mixin iStyle {
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 18px;
	font-size: $fs1 * 6;
	color: #333;	
}

.content {
	@include content;
	font-family: $ff1;
	h1 {
		@include h1;
		span {
			@include span;
		}
	}
	.setHeight {
		height: 290px;
		i {
			@include iStyle;
		}
		.subtitle {	
			@include sub {
				@include ma(-15px, -15px);
				padding-top: 10px;					
			}
		}
		p {
			@include p;
		}
	}
	.more {
		@include more;
	}
}
.gotop {
	display: none;
	position: fixed;
	bottom: 100px;
	right: 35px;
	font-size: $fs1 * 3;
	color: rgba(200,200,200,0.5);
	&:hover{
		color: rgba(150,150,150,0.5);
	}
}

/* mobile */
.mobile.container {		
	margin-bottom: 6em !important;
	h1 {
		margin: 2em auto !important;
		height: 42px !important;
		border-bottom-width: 3px !important;
	}
	span {
		font-size: 2em !important;
	}
	.setHeight {
		margin-top: 2em !important;
		height: 490px !important;
	}
	i {
		margin-top: 0px !important;
		font-size: $fs1 * 13 !important;
	}
	.subtitle {
		font-size: 4em !important;
		line-height: 2em !important;
	}
	p {
		font-size: 3em !important;
		line-height: 1.4em !important;
		margin: 0 -2em 4em !important;
	}
	.gotop {
		right: 10px !important;
		bottom: 170px !important;
		font-size: 0.5em !important;
	}
}


