<div class="container">
  <div class="content text-center">  
    <h1><span><%=value.list[0].slogn%></span></h1>  
    <div class="row">  
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center setHeight">
           <i class="icon-layout"></i>
           <div class="subtitle"><%=value.list[0].title%></div>
           <p><%=value.list[0].body%></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center setHeight">
           <i class="icon-block"></i>
           <div class="subtitle"><%=value.list[1].title%></div>
           <p><%=value.list[1].body%></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center setHeight">
           <i class="icon-engine"></i>
           <div class="subtitle"><%=value.list[2].title%></div>
           <p><%=value.list[2].body%></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center setHeight">
           <i class="icon-custom"></i>
           <div class="subtitle"><%=value.list[3].title%></div>
           <p><%=value.list[3].body%></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center setHeight">
           <i class="icon-BaaS"></i>
           <div class="subtitle"><%=value.list[4].title%></div>
           <p><%=value.list[4].body%></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center setHeight">
           <i class="icon-language"></i>
           <div class="subtitle"><%=value.list[5].title%></div>
           <p><%=value.list[5].body%></p>
        </div>
    </div>
    <div class="row">
      <!-- <a href="http://coserv.coimotion.com" class="more">LEARN  MORE</a> -->
    </div>
  </div>
  <a href='javascript:scroll(0,0)' class="gotop"><i class="fa fa-chevron-up"></i></a>
</div>